

@{
   
    ViewBag.Title = "Home Page";
    List<WebApplication.Models.Tag> tags = ViewBag.Tags;
    List<WebApplication.Models.Category> categories = ViewBag.Categories;
}
@model List<WebApplication.Models.Post>

<aside>
    <div class="left-posts">
        <h3 class="recent-posts" style="text-align:justify"><marquee behavior="slide" direction="left" scrollamount="11">&nbsp;&nbsp;....and monkeys sometimes read</marquee></h3>



        @foreach (var post in Model.OrderByDescending(p => p.Date).Where(a => a.Author.FullName.Equals("Admin")).Take(1))
        {

            <div class="content">
                <blockquote class="title">&nbsp;&nbsp;<h3>@post.Title</h3></blockquote>
                <blockquote>&nbsp;&nbsp; @post.Body</blockquote>

            </div>
        }

    </div>
    <aside>
        <div class="tags col-md-4">
            <h2 class="recent-posts">Популярни тагове</h2>
            @foreach (var tag in tags.OrderByDescending(t => t.Posts.Count()).Take(5))
            {
                <h3 class="title">
                    @Html.ActionLink(tag.Name, "Details",
                                "Tags", new { id = tag.Id }, null)
            </h3>
            }
            <h2 class="recent-posts">Категории</h2>
            @foreach (var category in categories)
            {
                <h3 class="title">
                    @Html.ActionLink(category.Name, "Details",
                                "Categories", new { id = category.Id }, null)
                </h3>
            }
        </div>
    </aside>
</aside>

<h2 class="recent-posts">Последни статии</h2>
<hr />
<article>
    @foreach (var post in Model.OrderByDescending(p => p.Date).Where(a => !a.Author.FullName.Equals("Admin")).Take(7))
    {
        <h3 class="title">@WebApplication.Classes.Utils.CutText(post.Title)</h3>

        <b><i>Публикувано от </i></b><span>@post.Author.FullName</span><b><i> на </i></b><span>@post.Date</span><br />
        <div class="content">

            @WebApplication.Classes.Utils.CutText(post.Body)
            <p class="btn btn-default">
                @Html.ActionLink("Прочети повече...", "Details",
                "Posts", new { id = post.Id }, null)
            </p>

        </div>
        <hr />
    }

  

</article>
