@{
    ViewBag.Title = "Home Page";
    List<WebApplication.Models.Tag> tags = ViewBag.Tags;
    List<WebApplication.Models.Category> categories = ViewBag.Categories;
}
@model List<WebApplication.Models.Post>
<aside>
    <div class="tags col-md-4">
        <h2 class="recent-posts">Популярни тагове</h2>
        @foreach (var tag in tags.OrderByDescending(t => t.Posts.Count()).Take(5))
        {
            <h3 class="title">@Html.ActionLink(tag.Name, "Details",
                                "Tags", new {id = tag.Id}, null)</h3>
        }
        <h2 class="recent-posts">Категории</h2>
        @foreach (var category in categories)
        {
            <h3 class="title">
                @Html.ActionLink(category.Name, "Details",
                                "Categories", new { id = category.Id }, null)
            </h3>
        }
   </div>
</aside>

<article class="col-md-8">
    @foreach (var post in Model.OrderByDescending(p => p.Date).Take(4))
    {
        <h2 class="title">@post.Title</h2>
        <i>Публикувано от </i><span>@post.Author.UserName</span><i> на </i><span>@post.Date</span><br />
        <div class="content">
           @post.Body
        </div>
        <p class="btn btn-default">
            @Html.ActionLink("Прочети повече...", "Details",
            "Posts", new { id = post.Id }, null)
        </p>
    }
  
</article>
