
﻿@model WebApplication.Models.Category

@{
    ViewBag.Title = "Details";
    List<WebApplication.Models.ApplicationUser> users = ViewBag.Users;
    var currentUser = users.FirstOrDefault(u => u.UserName == User.Identity.Name);
}


<div>
   
    <hr />
   <h1>Категория: @Html.DisplayFor(model => model.Name)</h1>
  
</div>
@foreach (var post in Model.Posts.OrderByDescending(p => p.Date))
{
    <div class="post">
        <dl class="dl-horizontal">
            <dt>
                Заглавие
            </dt>
            <dd>
                @Html.ActionLink(post.Title, "Details",
                "Posts", new { id = post.Id }, null)
            </dd>
            <dt>
                Автор
            </dt>
            <dd>
                @post.Author.UserName
            </dd>
            <dt>
                Коментари
            </dt>
            <dd>
                @post.CommentsCount
            </dd>
            <dt>
                Дата
            </dt>
            <dd>
                @post.Date
            </dd>
            @if (post.Author.UserName == User.Identity.Name || 
                 currentUser.Role == "Admin")
            {
                <dt>
                    Действия
                </dt>
                <dd>
                    @Html.ActionLink("Edit", "Edit",
                                "Posts", new { id = post.Id }, null)
                    <br />
                    @Html.ActionLink("Delete", "Delete",
                       "Posts", new { id = post.Id }, null)
                </dd>
            }
           
        </dl>
    </div>
    <br />
}

<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>

