
﻿@model IEnumerable<WebApplication.Models.Category>


<p>
    @Html.ActionLink("Създай нова категория", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Име")
        </th>
        <th>
            @Html.DisplayName("Постове")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.Posts.Count()
        </td>
        <td>
            @Html.ActionLink("Редакция", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детайли", "Details", new { id=item.Id }) |
            @Html.ActionLink("Изтриване", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

