
﻿@model IEnumerable<WebApplication.Models.Post>

@{
    ViewBag.Title = "Index";
    var posts = Model;
    List<WebApplication.Models.ApplicationUser> users = ViewBag.Users;
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
           Заглавие
        </th>
        <th>
           Съдържание
        </th>
        <th>
           Автор
        </th>
        <th>
           Дата
        </th>
        <th>
            Коментари
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var post in posts) {
    <tr>
        <td>@Html.ActionLink((string)post.Title, "Details",
            "Posts", new { id = post.Id }, null)
           
        </td>
        <td>
            @Html.Raw(post.Body)
        </td>
        <td>
            @Html.Raw(post.Author.UserName)
        </td>
        <td>
            @Html.Raw(post.Date)
        </td>
        <td>
            @Html.Raw(post.CommentsCount)
        </td>
        <td>
            
            @if (User.Identity.IsAuthenticated &&
                        users.FirstOrDefault(u => u.UserName == User.Identity.Name).Role == "Admin")
            {
                @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                <br />
                @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                <br />
            }
            @if (User.Identity.IsAuthenticated &&
                users.FirstOrDefault(u => u.UserName == User.Identity.Name).Role != "Admin" &&
                User.Identity.Name == post.Author.UserName)
            {
                @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                <br />
                @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                <br />
            }
            
           
        </td>
    </tr>
}

</table>
