<<<<<<< HEAD
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <img class="img" src="~/Img/monkey-clipart-black-and-white-16981-monkey-face-svg.png" />

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mighty Monkeys Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Начало", "Index", "Home")</li>
                    <li>@Html.ActionLink("Статии", "Index", "Posts")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Нова статия", "Create", "Posts")</li>
                    }
                    @if (Roles.IsUserInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Тагове", "Index", "Tags")</li>
                        <li>@Html.ActionLink("Нов таг", "Create", "Tags")</li>
                    }
                    <li>@Html.ActionLink("Потребители", "Index", "Users")</li>
                    <li>@Html.ActionLink("Галерия", "Index", "Images")</li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created By Mighty Monkeys</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
=======
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <img class="img" src="~/Images/monkey-clipart-black-and-white-16981-monkey-face-svg.png" />

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mighty Monkeys Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Начало", "Index", "Home")</li>
                    <li>@Html.ActionLink("Статии", "Index", "Posts")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Нова статия", "Create", "Posts")</li>
                    }
                    @if (Roles.IsUserInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Тагове", "Index", "Tags")</li>
                        <li>@Html.ActionLink("Нов таг", "Create", "Tags")</li>
                    }
                    <li>@Html.ActionLink("Потребители", "Index", "Users")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created By Mighty Monkeys</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
>>>>>>> d792e6801b2b6d3c9a4d9063835e002fabf139f1
