
﻿@model WebApplication.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

@if (Model.Posts.Count() > 0)
{
    <h2>Постове:</h2>
    <table class="table">
        <tr>
            <th>Име на поста</th>
            <th>Автор на поста</th>
            <th>Съдържание</th>
            <th>Коментари</th>
            <th>Дата на публикуване</th>
        </tr>
        @foreach (var post in Model.Posts.OrderByDescending(p => p.Date))
        {
            <tr>
                <td>
                        @Html.ActionLink(post.Title, "Details",
                                    "Posts", new { id = post.Id }, null)
                </td>
                <td><img src="~/Img/User-icon.png" />@post.Author.UserName</td>
                <td>@Html.Raw(post.Body)</td>
                <td>@post.Comments.Count()</td>
                <td>@post.Date</td>
            </tr>
        }
    </table>
}

<p>
    @Html.ActionLink("Редакция", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Изтриване", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Обратно към списъкът", "Index")
</p>
