@model WebApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    WebApplication.Models.ApplicationUser currentUser = ViewBag.User;
}

<h2>@currentUser.UserName</h2>
@using (Html.BeginForm("CreateProfilePic", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="img-upload">
        <h2>Качи снимка</h2>
        <input type="file" id="file" name="file" />
        <input type="submit" value="Качи" />
    </div>

}
@{

    var path = "~/Gallery/ProfilePics/" + currentUser.ProfilePic;
    if (path != null)
    {
        <img src="@Url.Content(path)" alt="Image" width="200" />
    }

}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смяна на паролата", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Създай", "SetPassword")
            }
            ]
        </dd>
        <dt>Имена:</dt>
        <dd>
            @currentUser.FullName
        </dd>
        <dt>Постове:</dt>
        <dd>
            @foreach (var post in currentUser.Posts)
            {
                <div class="post">
                    @Html.ActionLink(post.Title, "Details",
         "Posts", new { id = post.Id }, null)
                    <br />
                    Коментари: @post.Comments.Count()
                    <br />

                </div>

            }
           
        </dd>
        <dt>Коментари:</dt>
        <dd>
            @currentUser.Comments.Count()
        </dd>
        <dt>Снимки:</dt>
        <dd>
            @currentUser.Images.Count()
        </dd>
    </dl>
</div>
