@model WebApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    List<WebApplication.Models.ApplicationUser> users = ViewBag.Users;
    WebApplication.Models.ApplicationUser currentUser = users.Single(u => u.UserName == User.Identity.Name);
}

<h2>@currentUser.UserName</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Имена:</dt>
        <dd>
            @currentUser.FullName
        </dd>
        <dt>Постове:</dt>
        <dd>
            @foreach (var post in currentUser.Posts)
            {
                @post.Title;
            }
            @currentUser.Posts.Count()
        </dd>
        <dt>Коментари:</dt>
        <dd>
            @currentUser.Comments.Count()
        </dd>
        <dt>Снимки:</dt>
        <dd>
            @currentUser.Images.Count()
        </dd>
    </dl>
</div>
